<style>
    .mud-expand-panel-header {
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
</style>

<MudExpansionPanels MultiExpansion Elevation="25">
    @foreach (Activity act in Activities)
    {
        var actType = ActivityType.GetActivityType(act.WorkoutType);
        <MudExpansionPanel Dense Style="@(actType.GetBackgroundColorCSS(act.IsWorkOut))" HideIcon="@(act.Description == "" && !act.IsWorkOut)">
            <TitleContent>
                <MudStack Row AlignItems="AlignItems.Center" Justify=Justify.SpaceBetween Spacing="0">
                    <IconText Icon="@actType.Icon"
                              Text="@actType.Name" />
                    <MudStack Row AlignItems="AlignItems.Center" Spacing="4">
                        @if (act.Title is not null)
                        {
                            <MudChip Class="pa-2 mud-background">
                                <p>@act.Title</p>
                            </MudChip>
                        }
                        <MudStack Spacing="0" Justify="Justify.FlexEnd">
                            <MudStack Row
                                      Class="pr-10 py-2"
                                      Spacing="0"
                                      Justify="Justify.FlexEnd"
                                      AlignItems="AlignItems.Baseline">
                                @if (act.DurationSeconds > 0)
                                {
                                    <MudText Typo="Typo.h4">@(act.DurationSeconds / 60)</MudText>
                                    <MudText Typo="Typo.body1">min</MudText>
                                }
                            </MudStack>
                        </MudStack>
                    </MudStack>
                </MudStack>
            </TitleContent>
            <ChildContent>
                @if (act.Description != "" || act.IsWorkOut)
                {
                    <MudDivider />
                    <div class="mb-2 mt-2">
                        <ActivityDetails Description="@act.Description"
                                         Recovery="@act.Recovery"
                                         IsWorkOut="act.IsWorkOut"
                                         WorkoutItems="act.WorkoutItems" />
                    </div>
                }
            </ChildContent>
        </MudExpansionPanel>
    }
</MudExpansionPanels>

@code {
    [Parameter] public IEnumerable<Activity> Activities { get; set; } = [];
    [Parameter] public string GroupName { get; set; } = "";
}
